@font-face {
  font-family: 'Tmoney-ExtraBold';
  src: url('./fonts/TmoneyRoundWindExtraBold.ttf');
}

@font-face {
  font-family: 'Tmoney-Regular';
  src: url('./fonts/TmoneyRoundWindRegular.ttf');
}

* {
  font-family: 'Tmoney-Regular';
}
body {
  margin: 0;
  font-family: 'Tmoney-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}